:root {
  --primary: rgb(214, 205, 27);
  --bg: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: rgb(255, 255, 255);
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2.3rem;
  font-weight: 700;
  color: white;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-ext a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-ext a:hover {
  color: var(--primary);
}

#ham-menu {
  display: none;
}

/*HERO SECTION*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 70;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.7rem 1.3rem;
  font-size: 1.3rem;
  color: white;
  background-color: var(--primary);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* ABOUT SECTION */
.about,
.crew,
.address {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.crew h2,
.address h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.about h2 span,
.crew h2 span,
.address h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.about .row .about-img {
  text-align: center;
  padding-bottom: 4rem;
  font-size: 1.2rem;
}

.about .row .about-img img {
  width: 300px;
  height: 250px;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 10px;
}

.about .row .about-img-title {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  font-weight: 50%;
}

/* CREW SECTION */
.about .row .about-img-quote {
  margin-left: 3rem;
  margin-right: 3rem;
  line-height: 2.5rem;
  font-weight: 70;
}

.crew .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.crew .row .crew-card {
  text-align: center;
  padding-bottom: 4rem;
  font-size: 1.2rem;
}

.crew .row .crew-card img {
  border-radius: 50%;
  width: 50%;
}

.crew .row .crew-card .crew-card-title {
  margin: 1rem auto 0.5rem;
  font-weight: 50%;
}

.crew .row .crew-card .crew-card-quote {
  font-weight: 70;
}

/* ADDRESS SECTION */
.address {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 50%;
  line-height: 1.5;
}

.address .row {
  display: inline-block;
  margin-top: 2rem;
  background-color: #222;
  flex-wrap: wrap;
}

.address .row .map {
  flex: 1 1 45rem;
  width: 35rem;
  height: 35rem;
  object-fit: cover;
  border-radius: 10px;
}

/* FOOTER */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 2rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: white;
  margin: 1rem;
}

footer .social a:hover,
.link a:hover,
.credit a:hover {
  color: black;
}

footer .link {
  margin-bottom: 1rem;
}

footer .link a {
  color: white;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.9rem;
  color: white;
}

footer .credit a {
  color: white;
}

/* MEDIA QUERIES */
/* LAPTOP */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/* TABLET */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  #ham-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }
}

/* MOBILE PHONE */
@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
}
